/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --main-text-color: var(--color-pink-light);
    --main-background-color: var(--color-black);
    --flag-rec-display: block;
    --main-background-image: var(--image-cover-dark);
    --title-background-color: var(--color-pink);
    --text-shadow-color: var(--color-pink);
    --footer-title-color: var(--color-violet);
    --button-border-color: var(--color-pink);
    --button-hover-border-color: var(--color-pink-transporent-40);
    --title-section-color: var(--color-pink);
    --main-description-color: var(--color-black);
    --title-button-menu: var(--color-pink);
}
